@import 'src/styles/mixins';

.projectPage {
	grid-column: 1/-1;
	@include cols;
	hr {
		grid-column: 2/10;
        @media screen and (max-width: 1199px) {
		grid-column: 2/11;

        }
        @media screen and (max-width: 767px) {
            grid-column: 2;
        }
		background-color: transparent;
		align-self: center;
		// height: 1px;
		height: 100%;
		position: relative;
		&::after,
		&::before {
			content: '';position: absolute;
		}
		&::before {

			left: 0;
			top: 55%;
			width: 99.7%;
			height: 1px;
			background-color: rgba(255, 99, 71, 0.5);
		}
		&::after {
			right: 0;
			top: 50%;

			border-top: 1px solid rgba(255, 99, 71, 0.5);
			border-right: 1px solid rgba(255, 99, 71, 0.5);
			width: 10px;
			height: 10px;
			transform: rotate(45deg) translateX(-50%);
		}
	}
	a {
		grid-column: 10 / -2;
        @media screen and (max-width: 1199px) {
         grid-column: 12 / -2;
        }
        @media screen and (max-width: 767px) {
            grid-column: 4;
        }
		//  border: 3px dashed rgba(255, 99, 71, 0.589);
	}
}
.general{
	    max-width: 900px;
		margin: 0 auto;
}